{%load static%}




<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>

    <link rel="stylesheet" href="{% static 'home.css' %}">

    <h1>Home page</h1>

    <div class="interview-link">
        <a href="{% url 'interview' %}" class="btn btn-primary">Start interview</a>
    </div>

    <div class="create-question-link">
        <a href="{% url 'createQuestion' %}" class="btn btn-primary">Create an interview question</a>
    </div>

    <div class="logout-link">
        <a href="{% url 'welcome' %}" class="btn btn-primary">logout</a>
    </div>


</body>
</html>