body {
    font-family: "Oswald", serif;
    background-color: #FFA50B;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    color: red;
    font-family: "Oswald", serif;
    text-align: center;
}

form {
    background-color: black;
    padding: 20px;
    color: #FFA50B;
    border-radius: 40px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
}

form p {
    margin: 10px 0;
    font-size: 18px;
}

form input[type="text"], 
form input[type="password"],
form input[type="email"] {
    background-color: #FFA50B;
    color: black;
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 50px;
    border: 1px solid #FFA50B;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #FFA50B;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background-color: black;
    color: #FFA50B;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: black;
    background-color: #FFA50B;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: black;
    color: #FFA50B;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}